# .env.example — Elayon Core

# =========================
# SUPABASE
# =========================
SUPABASE_URL=https://eudcjihffrfmhzmfwtlg.supabase.co/rest/v1/
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1ZGNqaWhmZnJmbWh6bWZ3dGxnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ3NDE3MjUsImV4cCI6MjA5MDMxNzcyNX0.2tod6vvl_4SAXzSmW1wU8Mk9pLn8fvhF2xrAZOysUu0

# Use apenas no backend
SUPABASE_SERVICE_ROLE_KEY=

# =========================
# IA / LLM
# =========================
GEMINI_API_KEY=
OPENAI_API_KEY=
GROQ_API_KEY=

# =========================
# SEGURANÇA INTERNA
# =========================
TOKEN_INTERNO=

# =========================
# CONEXÃO / CRS
# =========================
CRS_BASE_URL=
CRS_API_KEY=

# =========================
# ELAYON SPACE
# =========================
ELAYON_SPACE_URL=https://elayon.space